.navbar {
  margin: auto;
  padding: 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navbar__link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition-property: all;
  transition-duration: 0.5s;
}
.navbar__link:hover {
  color: #000000;
}
.navbar-burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3px;
  display: none;
}
.navbar-slide {
  width: 25px;
  height: 3px;
  background-color: #000000;
  border-radius: 20px;
}
@media only screen and (max-width: 500px) {
  .navbar .navbar {
    width: 100%;
    background-image: url(/images/);
  }
  .navbar .navbar__img {
    width: 200px;
    margin-left: -10px;
  }
  .navbar .navbar-burger {
    display: flex;
    margin-left: 10px;
  }
  .navbar .navbar__list {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-image: url(/images/Bitmap.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 50px 50px;
}
.header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}
.header__text {
  width: 450px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
}
.header__button {
  width: 200px;
  height: 50px;
  border: none;
  background: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  transition-property: all;
  transition-duration: 1s;
}
.header__button:hover {
  box-shadow: 0px 0px 20px 0px #ffffff;
}
@media only screen and (max-width: 500px) {
  .header .header {
    width: 100%;
    padding: 0pc;
  }
  .header .header__title {
    width: 100%;
    font-size: 37px;
    line-height: 40px;
  }
  .header .header__text {
    width: 100%;
  }
}

.choose {
  margin-top: 250px;
  padding: 50px 50px;
  background: #2C343E;
  border-radius: 5px;
}
.choose__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
}
.choose__text {
  width: 540px;
  margin: auto;
  margin-top: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.choose__title2 {
  font-family: "Fraunces";
  margin-top: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}
.choose__text2 {
  font-family: "Barlow";
  margin-top: 20px;
  width: 250px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}
.choose__boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.choose__box {
  position: relative;
  top: 100px;
  width: 250px;
  height: 200px;
  background: #0E8784;
  border-radius: 5px;
  padding: 50px 30px;
}
.choose__img {
  margin-left: 90px;
}
@media only screen and (max-width: 500px) {
  .choose .choose__title {
    font-size: 35px;
  }
  .choose .choose__text {
    width: 100%;
  }
  .choose .choose__boxes {
    flex-direction: column;
  }
  .choose .choose__box {
    height: 200px;
  }
  .choose .choose__space {
    height: 270px;
  }
}

.collection {
  padding: 50px 50px;
}
.collection__img {
  position: absolute;
}
.collection__miniboxes {
  position: relative;
  margin-top: 130px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.collection__minibox {
  width: 250px;
  height: 200px;
}
.collection__info {
  width: 250px;
  height: 50px;
  text-align: center;
}
.collection__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.collection__text {
  margin-top: 20px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}
@media only screen and (max-width: 500px) {
  .collection .collection {
    margin-top: -100px;
  }
  .collection .collection__img {
    width: 300px;
    margin-left: -5%;
  }
  .collection .collection__miniboxes {
    flex-direction: column;
    gap: 300px;
    margin-left: -5%;
  }
}

.footer {
  padding: 50px 50px;
  background: #2C343E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.footer__img {
  width: 300px;
}
.footer__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer__link {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  transition-property: all;
  transition-duration: 0.5s;
}
.footer__link:hover {
  transform: scale(1.5);
}
.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer__icon {
  font-size: 30px;
  color: #ffffff;
  transition-property: all;
  transition-duration: 1s;
}
.footer__icon:hover {
  transform: scale(1.5);
}
@media only screen and (max-width: 500px) {
  .footer .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer__img {
    width: 100%;
  }
  .footer__list {
    width: 100%;
    flex-direction: column;
  }
  .footer__icons {
    width: 100%;
  }
  .footer .footer__space {
    height: 250px;
  }
}

.works {
  position: relative;
  margin-top: 100px;
  padding: 50px 50px;
}
.works__title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
}
.works__line {
  width: 390px;
  margin-top: 100px;
  margin-left: -20px;
  height: 2px;
  background-color: #fdd6ba;
  border: none;
}
.works__balls {
  width: 390px;
  margin-top: -14px;
  margin-left: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works__ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #0e8784;
  background-color: #ffffff;
}
.works__infos {
  margin-right: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.works__button {
  width: 200px;
  height: 50px;
  margin-top: 100px;
  background: #66d2cf;
  border-radius: 6px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  border: none;
  transition-property: all;
  transition-duration: 1s;
}
.works__button:hover {
  box-shadow: 0px 0px 20px 0px rgb(0, 27, 45);
}
.works__infos {
  margin-top: 30px;
}
.works .info {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.works .info__number {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
}
.works .info__title {
  font-family: "Fraunces";
  font-size: 30px;
}
.works .info__text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
  font-size: 15px;
}
@media only screen and (max-width: 500px) {
  .works .works__line, .works .works__balls {
    display: none;
  }
  .works .works__title {
    text-align: center;
  }
  .works .works__button {
    width: 100%;
  }
  .works .works__infos {
    width: 100%;
    flex-direction: column;
  }
  .works .works__infos .info__number,
  .works .works__infos .info__title,
  .works .works__infos .info__text {
    text-align: center;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1200px;
  padding: 10px 20px;
  margin: auto;
}

h1 {
  font-family: "Fraunces";
}

p {
  font-family: "Barlow";
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
}
.about-header {
  background-image: url(../images/aboutbgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 50px;
  background-attachment: fixed;
  border-radius: 10px;
}
.about-header-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
}
.about-header-text {
  margin-top: 50px;
  width: 440px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}
@media only screen and (max-width: 500px) {
  .about-header .about-header {
    padding: 20px;
  }
  .about-header .about-header-title {
    width: 100%;
    font-size: 30px;
  }
  .about-header .about-header-text {
    width: 100%;
  }
}

.about-commit {
  padding: 50px 50px;
}
.about-commit-img {
  border-radius: 10px;
}
.about-commit-info {
  width: 540px;
  margin-left: 600px;
  margin-top: -450px;
}
.about-commit-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
}
.about-commit-text {
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media only screen and (max-width: 500px) {
  .about-commit .about-commit {
    flex-direction: column;
  }
  .about-commit .about-commit-img {
    width: 100%;
  }
  .about-commit .about-commit-info {
    width: 100%;
    margin: 0;
    margin-top: 30%;
  }
  .about-commit .about-commit-title {
    font-size: 30px;
  }
  .about-commit .about-commit-text {
    text-align: center;
  }
}

.about-uncommit {
  position: relative;
  margin-top: 200px;
  padding: 50px 50px;
  border-radius: 10px;
  background: #2C343E;
}
.about-uncommit-info {
  width: 540px;
  padding: 80px 50px;
}
.about-uncommit-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}
.about-uncommit-text {
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.about-uncommit-img {
  width: 400px;
  position: absolute;
  border-radius: 10px;
  left: 700px;
  bottom: 100px;
}
@media only screen and (max-width: 500px) {
  .about-uncommit .about-uncommit {
    display: flex;
    flex-direction: column;
  }
  .about-uncommit .about-uncommit-info {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .about-uncommit .about-uncommit-title {
    width: 100%;
    font-size: 35px;
    text-align: center;
  }
  .about-uncommit .about-uncommit-text {
    text-align: center;
  }
  .about-uncommit .about-uncommit-img {
    width: 60%;
    margin-left: -180%;
    margin-bottom: 100%;
  }
}

.about-country {
  padding: 50px 50px;
}
.about-country-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  font-size: 40px;
  color: #83888f;
}
.about-country-boxes {
  margin-top: 100px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 200px;
}
.about-country-title1 {
  margin-top: 30px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
}
.about-country-text {
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}
@media only screen and (max-width: 500px) {
  .about-country .about-country-title {
    text-align: center;
    font-size: 30px;
  }
  .about-country .about-country-boxes {
    flex-direction: column;
    justify-content: center;
  }
  .about-country .about-country-box {
    width: 150px;
    height: 200px;
  }
}

.footer__list {
  margin-left: -10%;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 90%;
  }
}
.plan-header {
  padding: 150px 50px;
  background-image: url("/images/Bitmap (3).png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-radius: 10px;
}
.plan-header-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
}
.plan-header-text {
  width: 440px;
  margin-top: 50px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
}
@media only screen and (max-width: 500px) {
  .plan-header .plan-header {
    width: 100%;
    padding: 0px;
  }
  .plan-header .plan-header-title {
    width: 100%;
    text-align: center;
  }
  .plan-header .plan-header-text {
    width: 100%;
    text-align: center;
  }
}

.plan-line {
  padding: 50px 50px;
  background: #2C343E;
  border-radius: 10px;
  margin-top: 100px;
}
.plan-line-hr {
  position: relative;
  width: 650px;
  height: 2px;
  background-color: #FDD6BA;
  margin-left: -3px;
  top: 10px;
}
.plan-line-miniboxes {
  position: relative;
  width: 690px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 17px;
  right: 20px;
}
.plan-line-minibox {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #0E8784;
}
.plan-line-number {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.plan-line-boxes {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 100px;
}
.plan-line-title {
  margin-top: 30px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #FEFCF7;
}
.plan-line-text {
  width: 280px;
  margin-top: 30px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
}
@media only screen and (max-width: 500px) {
  .plan-line .plan-line-hr, .plan-line .plan-line-miniboxes {
    display: none;
  }
  .plan-line .plan-line-boxes {
    flex-direction: column;
  }
  .plan-line .plan-line-number {
    width: 100%;
    text-align: center;
  }
  .plan-line .plan-line-title {
    width: 100%;
    text-align: center;
  }
  .plan-line .plan-line-text {
    width: 100%;
    text-align: center;
  }
}

.plan-drink {
  padding: 50px 50px;
}
.plan-drink .plan-drink-table {
  position: relative;
}
.plan-drink .plan-drink-table-title {
  margin: 30px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  transition-property: all;
  transition-duration: 1s;
}
.plan-drink .plan-drink-table-hr {
  margin-top: 10px;
  width: 200px;
  height: 2px;
  background: #83888F;
  margin-left: 30px;
}
.plan-drink .plan-drink-table-title:hover {
  color: #0E8784;
}
.plan-drink-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.plan-drink-box {
  margin-top: 50px;
  width: 150px;
  height: 170px;
  padding: 30px 30px;
  border-radius: 10px;
  background: #F4F1EB;
}
.plan-drink-title {
  text-align: center;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
}
.plan-drink-text {
  margin-top: 10px;
  text-align: center;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}
.plan-drink-h1 {
  margin-top: 50px;
  margin-left: 200px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #83888F;
}
.plan-drink .gr {
  background: #0E8784;
}
.plan-drink .yellow {
  background: #FDD6BA;
}
.plan-drink .green {
  color: #FFFFFF;
}
.plan-drink-big {
  position: relative;
  left: 200px;
  bottom: 480px;
}
.plan-drink-other {
  position: absolute;
  width: 700px;
  background: #2C343E;
  padding: 20px 20px;
  border-radius: 10px;
  bottom: 200px;
  left: 380px;
}
.plan-drink-txt {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.plan-drink-tlt {
  width: 530px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 40px;
  color: #FFFFFF;
}
.plan-drink span {
  color: #0E8784;
}
@media only screen and (max-width: 500px) {
  .plan-drink .plan-drink-big {
    position: static;
    flex-direction: column;
  }
  .plan-drink .plan-drink-h1 {
    width: 100%;
    margin-left: -5%;
    font-size: 30px;
  }
  .plan-drink .plan-drink-boxes {
    flex-direction: column;
  }
  .plan-drink .plan-drink-box {
    width: 100%;
  }
  .plan-drink .plan-drink-other {
    width: 100%;
    position: static;
    margin-top: 30%;
    margin-left: -5%;
  }
  .plan-drink .plan-drink-tlt, .plan-drink .plan-drink-txt {
    width: 100%;
  }
  .plan-drink .plan-drink-space {
    height: 200%;
  }
  .plan-drink .plan-drink-table {
    margin-left: -20%;
  }
}/*# sourceMappingURL=style.css.map */