.collection {
    padding: 50px 50px;
    position: relative;

    &__img {
        position: absolute;
    }

    &__miniboxes {
        position: relative;
        margin-top: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    &__minibox {
        width: 250px;
    }

    &__infos {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    &__info {
        width: 250px;
        text-align: center;
    }

    &__title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        color: #333D4B;
    }

    &__text {
        margin-top: 20px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #333D4B;
    }

    @media only screen and (max-width: 500px) {
        &__img {
            width: 450px;
            margin-left: -30px;
            position: absolute;
        }

        &__miniboxes {
            display: flex;
            flex-direction: column;
        }

        &-wrapper {
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            margin-top: -80px;
            margin-left: -90px;
        }

        &__infos {
            display: flex;
            flex-direction: column;
            gap: 100px;
            margin-top: 100px;
        }

        &-title, &__text {
            text-align: start;
        }
    }
}