.header {

    background-image: url(/images/Bitmap.png);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 5px;
    padding: 50px 50px;

    &__title {
        
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
    }

    &__text {
        margin-top: 50px;
        width: 450px;
        // font-family: sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        
    }

    &__button {
        margin-top: 50px;
        width: 200px;
        height: 50px;
        border: none;
        background: #0E8784;
        border-radius: 6px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: #FEFCF7;
        transition-property: all;
        transition-duration: 1s;
    }

    &__button:hover {
        box-shadow: 0px 0px 20px 0px #ffffff;
        
    }
}
