.navbar {
    margin: auto;
    padding: 50px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
        display: flex;
        justify-content: center;
        align-items: center; 
        gap: 50px;      
    }

    &__link  {
        font-family: sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        transition-property: all;
        transition-duration: 0.5s;
    }

    &__link:hover {
        color: #000000; 
    }

    &-burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3px;
        display: none;
    }

    &-slide {
        width: 25px;
        height: 3px;
        background-color: #000000;
        border-radius: 20px;
    }

    @media only screen and (max-width: 500px) {
        .navbar {
            width: 100%;
            background-image: url(/images/);

            &__img {
                width: 200px;
                margin-left: -10px;
            }

            &-burger {
                display: flex;
                margin-left: 10px;
            }

            &__list {
                display: none;
            }
        }

    }
}