.about-uncommit {
    position: relative;
    margin-top: 200px;
    padding: 50px 50px;
    border-radius: 10px;
    background: #2C343E;

    &-info {
        width: 540px;
        padding: 80px 50px;
    }

    &-title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: #FEFCF7;
    }

    &-text {
        margin-top: 30px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }

    &-img {
        width: 400px;
        position: absolute;
        border-radius: 10px;
        left: 700px;
        bottom: 100px;
    }

    @media only screen and (max-width: 500px) {
        .about-uncommit {
            display: flex;
            flex-direction: column;

            &-info {
                width: 100%;
                padding: 0;
                flex-direction: column;
            }

            &-title {
                width: 100%;
                font-size: 35px;
                text-align: center;
            }

            &-text {
                text-align: center;
            }

            &-img {
                width: 60%;
                margin-left: -180%;
                margin-bottom: 100%;
            }
        }
    }
}