.plan-line {
    padding: 50px 50px;
    background: #2C343E;
    border-radius: 10px;
    margin-top: 100px;

    &-hr {
        position: relative;
        width: 650px;
        height: 2px;
        background-color:  #FDD6BA;
        margin-left: -3px;
        top: 10px;
    }

    &-miniboxes {
        position: relative;
        width: 690px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        bottom: 17px;
        right: 20px;
    }

    &-minibox {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #0E8784;
    }

    &-number {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FDD6BA;
    }

    &-boxes {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 100px;
    }

    &-title {
        margin-top: 30px;
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #FEFCF7;
    }

    &-text {
        width: 280px;
        margin-top: 30px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
    }

    @media only screen and (max-width: 500px) {
        .plan-line {
            &-hr, &-miniboxes {
                display: none;
            }

            &-boxes {
                flex-direction: column;
            }

            &-number {
                width: 100%;
                text-align: center;
            }

            &-title {
                width: 100%;
                text-align: center;
            }

            &-text {
                width: 100%;
                text-align: center;
            }
        }
    }
}