.plan-header {
    padding: 150px 50px;
    background-image: url('/images/Bitmap\ \(3\).png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 10px;

    &-title {
        font-family: 'Fraunces';
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        color: #FEFCF7;
    }

    &-text {
        width: 440px;
        margin-top: 50px;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #FEFCF7;
        mix-blend-mode: normal;
        opacity: 0.8;
    }

    @media only screen and (max-width: 500px) {
        .plan-header {
            width: 100%;
            padding: 0px;

            &-title {
                width: 100%;
                text-align: center;
            }

            &-text {
                width: 100%;
                text-align: center;
            }
        }
    }
}